build/
dist/
chispa.egg-info/
.cache/
tmp/
.idea/
.DS_Store
.python_version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.pytest_cache/

# MKDocs
site

# VSCode
.vscode

# Emacs
.dir-locals.el