name: MKDocs deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Set up the environment
        uses: ./.github/actions/setup-poetry-env
        with:
          with-docs: true
        
      - name: Setup GH
        run: |
          sudo apt update && sudo apt install -y git
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Build and Deploy
        run:
          poetry run mkdocs gh-deploy --force
