name: Test Release Workflow

on:
  push:
    branches:
      - 'fix-release-workflow'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Pretend to publish
        run: echo "Skipping PyPI publish for testing."

  deploy-docs:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-poetry-env
        with:
          with-docs: 'true'

      - name: Check mkdocs version
        run: poetry run mkdocs --version

      - name: Dry run documentation deploy
        run: poetry run mkdocs gh-deploy --force
